<div class="stranka__data inline__block ">
    <div class="stranka__spec">
        <div class="stranka__spec__paragraph">
            <p>Aktivno (RIH)</p>
        </div>
        <input class="stranka__spec__input" type="text">
        <div class="stranka__spec__button">
            <button class="stranka__spec__button__button"></button>
        </div>
    </div>
    <div class="stranka__spec">
        <div class="stranka__spec__paragraph">
            <p>Placnik (RIHP)</p>
        </div>
        <input class="stranka__spec__input" type="text">
        <div class="stranka__spec__button">
            <button class="stranka__spec__button__button"></button>
        </div>
    </div>
    <div class="stranka__spec">
        <div class="stranka__spec__paragraph">
            <p>Stevec (RIHC)</p>
        </div>
        <input class="stranka__spec__input" type="text">
        <div class="stranka__spec__button">
            <button class="stranka__spec__button__button"></button>
        </div>

    </div>
    <div class="stranka__spec">
        <div class="stranka__spec__paragraph">
            <p>Datum zadnjega placila (RIHD)</p>
        </div>
        <input class="stranka__spec__input" type="text">
        <div class="stranka__spec__button">
            <button class="stranka__spec__button__button"></button>
        </div>
    </div>
    <div class="stranka__spec">
        <div class="stranka__spec__paragraph">
            <p>Znesek (RIHK)</p>
        </div>
        <input class="stranka__spec__input" type="text">
        <div class="stranka__spec__button">
            <button class="stranka__spec__button__button"></button>
        </div>
    </div>
    <div class="stranka__spec">
        <div class="stranka__spec__paragraph">
            <p>Znesek pred zadnjim placilom (RIHZ)</p>
        </div>
        <input class="stranka__spec__input" type="text">
        <div class="stranka__spec__button">
            <button class="stranka__spec__button__button"></button>
        </div>
    </div>
</div>
