html {
    height: 100%;
}

body {
    height: 100%;
}

.outer__container {
    width: 80%;
    border: 1px solid black;
    display: block;
    padding: 3px;
    padding-top: 10px;
    margin: 5px;
}

.badge {
    position: relative;
    top: -15px;
    right: -5px;
    font-weight: bold;
}

.availability__container {
    border: 1px solid black;
    margin: 5px;
    padding: 3px;
    text-align: center;
}

.availability {
    width: 80%;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
}

.availability__button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: lightgreen;
    vertical-align: middle;
    position: relative;
    top: -1px;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 10px;
    margin-left: 10px;
}

.inline__block {
    display: inline-block;
}

.block {
    display: block;
}

.update__button {
    display: inline-block;
    height: 50px;
    border-radius: 20px;
    font-family: sans;
    outline: none;
    color: white;
    background: darkgreen;
}

.update__button:hover,
.update__button:active {
    background: blue;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.update__button:focus {
    background: red;
}

.iskana__stranka {
    text-align: center;
    position: relative;
}

.stranka__data {
    padding: 20px;
    border: 1px solid black;
    position: relative;
}

.stranka_inputs {
    vertical-align: middle;
    margin: auto;
}

.stranka__buttons {
    vertical-align: middle;
    margin: auto;
    position: relative;
    top: -2px;
}

.input__stranka__spec {
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.button__stranka__spec {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    margin: 6px;
    margin-left: 20px;
    vertical-align: middle;
}

.stranka__spec {
    display: flex;
}

.stranka__spec__paragraph {
    width: 40%;
    height: 2rem;
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}
.stranka__spec__input {
    width: 40%;
    height: 1.8rem;
    margin: 5px;
}
.stranka__spec__button {
    width: 20%;
    height: 2rem;
    margin: 5px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.stranka__spec__button__button {
    width: 3em;
    height: 3em;
    margin: 5px;
    border-radius: 50%;
}